@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}


body {
  color: snow;
  background: #070809;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

.dark, .light {
  transition: background-color 0.3s ease, color 0.3s ease;
}

